@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

// 定义全局css变量
// :root {
//   --v2-color-primary: #0052d9;
//   --v2-color-primary-opacity-1: rgba(var(--v2-color-primary), 0.1);
//   --v2-color-primary-opacity-2: rgba(var(--v2-color-primary), 0.2);
//   --v2-color-primary-opacity-3: rgba(var(--v2-color-primary), 0.3);
//   --v2-color-primary-opacity-4: rgba(var(--v2-color-primary), 0.4);
//   --v2-color-primary-opacity-5: rgba(var(--v2-color-primary), 0.5);
//   --v2-color-primary-opacity-6: rgba(var(--v2-color-primary), 0.6);
//   --v2-color-primary-opacity-7: rgba(var(--v2-color-primary), 0.7);
//   --v2-color-primary-opacity-8: rgba(var(--v2-color-primary), 0.8);
//   --v2-color-primary-opacity-9: rgba(var(--v2-color-primary), 0.9);
// }

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
  margin: 20px 15px 10px;
  background-color: #fff;
  border-radius: 10px;
}

.pagination-area {
  text-align: center;
  margin-top: 20px;
}
